1.-Enunciados/
2.-Bocetos/
3.-Recursos/
.tmp.driveupload/
4.-Documentación/Copia de seguridad de Memoria tema - Carlos Caruncho Serrano.wbk
*.wbk
desktop.ini
.idea
.tmp.driveupload
VehicleGest/local.properties
VehicleGest/.gradle/buildOutputCleanup/buildOutputCleanup.lock
VehicleGest/.idea/misc.xml
VehicleGest/local.properties
